.carousel {
  overflow: hidden;
  cursor: grabbing;
  background-color: rgba(128, 128, 128, 0.1);
  border-radius: 10px;

  &__inner {
    display: inline-flex;
  }
  &__item {
    width: 160px;
    height: 160px;
    padding: 3px;

    img {
      width: 100%;
      height: 100%;
      border-radius: 10px;
      pointer-events: none;
    }
  }
}
