.wrapper {
  width: 100%;
  max-height: 460px;
  display: flex;
  flex-direction: column;
  gap: 12px;

  &__title {
    color: var(--text-color-default);
    font-size: 18px;
    font-weight: 300;
  }
  &__group {
    max-height: 320px;
    display: flex;
    padding: 16px 16px 16px 0px;
    flex-direction: column;
    gap: 10px;
    overflow-y: auto;
  }
  &__item {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 15px;
  }
  &__icon {
    position: relative;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__circle {
    width: 75px;
    height: 75px;
    color: var(--theme-color-default);
  }
  &__house {
    position: absolute;
    width: 35px;
    height: 35px;
    color: #41522e;
  }
}

.empty {
  opacity: 0.6;
  color: var(--text-color-default);
  font-weight: 400;
}

@media (max-width: 600px) {
  .wrapper {
    max-height: 500px;

    &__group {
      max-height: 420px;
    }
  }
}

@media (max-width: 425px) {
  .wrapper {
    &__title {
      font-size: 16px;
    }
  }
}
