.wrapper {
  width: 100%;
  max-height: 400px;
  padding: 10px;

  &__group {
    max-height: 350px;
    display: flex;
    padding: 10px;
    flex-direction: column;
    gap: 10px;
    overflow-y: auto;
  }
  &__item {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 15px;
  }
  &__icon {
    position: relative;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__circle {
    width: 75px;
    height: 75px;
    color: var(--theme-color-default);
  }
  &__house {
    position: absolute;
    width: 35px;
    height: 35px;
    color: #41522e;
  }
}

.empty {
  opacity: 0.6;
  text-align: center;
  color: var(--text-color-default);
  font-weight: 400;
}

@media (max-width: 768px) {
  .wrapper {
    max-height: 500px;
    padding: 5px;

    &__group {
      max-height: 470px;
    }
  }
}

@media (max-width: 425px) {
  .wrapper {
    &__title {
      font-size: 16px;
    }
  }
}
