.wrapper {
  
  &__flex {
    display: flex;
    cursor: pointer;
  }

  &__customСheckbox,
  &__label {
    cursor: pointer;
  }

  &__customСheckbox {
    position: absolute;
    z-index: -1;
    opacity: 0;

  }
  &__customСheckbox + label {
    display: inline-flex;
    align-items: center;
    user-select: none;

    &::before {
      content: "";
      display: inline-block;
      width: 1em;
      height: 1em;
      flex-shrink: 0;
      flex-grow: 0;
      border: 1px solid #adb5bd;
      border-radius: 0.25em;
      margin-right: 10px;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: 50% 50%;
    }
  }

  &__customСheckbox:checked + label::before {
    border-color: var(--color-green);
    background-color: var(--color-green);
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
  }
  &__customСheckbox:not(:disabled):not(:checked) + label:hover::before {
    border-color: rgb(0, 145, 73);
  }
  &__customСheckbox:not(:disabled):active + label::before {
    background-color: rgba(0, 145, 73, 0.5);
    border-color: rgba(0, 145, 73, 0.5);
  }
  &__customСheckbox:focus + label::before {
    box-shadow: 0 0 0 0.2rem rgba(0, 145, 73, 0.3);
  }
  &__customСheckbox:focus:not(:checked) + label::before {
    border-color: rgba(0, 145, 73, 0.5);
  }
  &__customСheckbox + label::before {
    background-color: #e9ecef;
  }
}
