.wrapper {
  display: flex;
  justify-content: center;
  width: 100%;

  &__items {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 500px;
    height: 440px;
    padding: 20px 10px;
    margin-top: 15px;
  }

  &__sort {
    display: flex;
    gap: 10px;
    width: 60%;
  }

  &__group {
    width: 100%;
  }
}

@media (max-width: 760px) {
  .wrapper {
    &__items {
      width: 400px;
      height: 550px;
    }
  }
}

@media (max-width: 420px) {
  .wrapper {
    &__items {
      width: 350px;
    }
  }
}
