.button {
  width: 100%;
  height: 50px;
  flex-shrink: 0;
  border-radius: 4px;
  border: none;
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  background: linear-gradient(164deg, #41522e 1.1%, #be8022 100%);
  cursor: pointer;

  &__disabled {
    opacity: 0.5;
  }

  &:hover {
    background: linear-gradient(
        0deg,
        rgba(255, 255, 255, 0.2) 0%,
        rgba(255, 255, 255, 0.2) 100%
      ),
      linear-gradient(164deg, #41522e 1.1%, #be8022 100%);
  }

  &:active {
    background: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.2) 0%,
        rgba(0, 0, 0, 0.2) 100%
      ),
      linear-gradient(164deg, #41522e 1.1%, #be8022 100%);
  }
}
