.favorites {
  display: flex;
  width: 360px;
  height: 360px;
  padding: 20px;
  padding-right: 10px;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
  border-radius: 16px;
  background: #fff;
  box-shadow: 0px 4px 33px 0px rgba(0, 0, 0, 0.04);

  &__title {
    color: #424242;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }

  &__buttons {
    display: flex;
    align-items: flex-start;
    gap: 8px;
  }

  &__group {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    overflow-y: scroll;
  }
}
