.form {
  display: flex;
  height: 280px;
  width: 250px;
  padding: 10px 20px;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border-radius: var(--border-radius-medium);
  background: var(--bg-color-default);
  box-shadow: var(--box-shadow-main);
}
