.wrapper {
  width: 800px;
  height: 610px;
  padding: 20px;
  gap: 20px;

  &__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__name {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 28px;
    font-weight: 500;
  }

  &__symbol {
    color: rgb(136, 135, 135);
  }

  &__date {
    color: var(--color-green);
    font-size: 22px;
    font-weight: 400;
  }

  &__carousel {
    width: 100%;
  }
}
