.wrapper {
  width: 800px;
  height: 610px;
  display: flex;
  padding: 20px;
  flex-direction: column;
  align-items: flex-end;
  gap: 20px;
  border-radius: var(--border-radius-medium);
  background: var(--bg-color-default);
  box-shadow: var(--box-shadow-main);

  &__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
  }

  &__name {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: var(--text-color-default);
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }

  &__symbol {
    color: rgb(136, 135, 135);
  }

  &__date {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: var(--color-green);
    text-align: right;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  &__carousel {
    width: 100%;
  }
}
