.container {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  gap: 2px;

  &__label {
    color: #8a8a8a;
    text-shadow: 0px 0px 1px #8a8a8a;
    font-size: 12px;
    font-weight: 300;
    cursor: pointer;
  }

  &__input {
    height: 45px;
    padding: 15px;
    gap: 10px;
    align-self: stretch;
    border-radius: 4px;
    border: 1px solid #c9cacc;
    background: #fff;
  }

  &__errors {
    color: #eb1717;
  }
  &__error {
    color: #eb1717;
    font-size: 12px;
    font-weight: 400;
  }
}
