.container {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  gap: 2px;

  &__label {
    color: #424242;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
  }

  &__input {
    height: 50px;
    padding: 15px;
    gap: 10px;
    align-self: stretch;
    border-radius: 4px;
    border: 1px solid #c9cacc;
    background: #fff;
  }

  &__errors {
    color: #eb1717;
  }
  &__error {
    color: #eb1717;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}
