.wrapper {
  width: 100%;
  max-height: 420px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-self: stretch;

  &__title {
    color: #424242;
    font-size: 17px;
    font-style: normal;
    font-weight: 300;
    line-height: 22px;
    letter-spacing: -0.408px;
  }
  &__group {
    display: flex;
    padding: 16px 16px 16px 0px;
    flex-direction: column;
    gap: 10px;
    overflow-y: scroll;
  }
  &__item {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 15px;
  }
  &__icon {
    position: relative;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__house {
    position: absolute;
  }
}

.empty{
  color: #424242;
  font-style: normal;
  font-weight: 400;
}
