:root {
  --color-green: #41522e;

  --border-radius-min: 8px;
  --border-radius-medium: 16px;

  --box-shadow-main: 1px 1px 12px rgb(0, 0, 0, 0.5);

  --text-color-white: #424242;
  --text-color-dark: #ffffffee;
  --text-color-default: #424242;

  --theme-color-white: #f4f4f4;
  --theme-color-dark: rgba(24, 24, 24);
  --theme-color-default: #f4f4f4;

  --bg-color-white: #fff;
  --bg-color-dark: #2e2e2e;
  --bg-color-default: #fff;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto Slab", sans-serif;
}

::-webkit-scrollbar {
  width: 4px;
  border-radius: 2px;
  background: #e7e7e7;
}

::-webkit-scrollbar-thumb {
  border-radius: 2px;
  background: #41522e;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.4);
}

.block {
  display: flex;
  flex-direction: column;
  gap: 6px;
  padding: 10px 20px;
  color: var(--text-color-default);
  background-color: var(--bg-color-default);
  box-shadow: var(--box-shadow-main);
  border-radius: var(--border-radius-medium);
}
