.button {
  width: 100%;
  padding: 10px;
  background-color: white;
  color: #41522e;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  border: 1px solid #41522e;
  border-radius: 5px;
  cursor: pointer;

  &:hover {
    opacity: 0.8;
    background-color: rgba(224, 224, 224, 0.3);
  }

  &:active {
    opacity: 1;
    background-color: white;
  }
}
