.header {
  width: 100%;
  display: flex;
  padding: 32px;
  justify-content: space-between;
  align-items: center;

  &__title {
    color: var(--text-color-default);
    text-shadow: 0px 0px 17px var(--text-color-default);
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    user-select: none;
  }

  &__buttons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
  }

  &__icon {
    border: none;
    cursor: pointer;
    width: 30px;
    height: 30px;
    background-color: transparent;

    svg {
      width: 22px;
      height: 22px;
      color: rgb(180, 180, 41);
    }
  }

  &__exit {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 12px;
    cursor: pointer;
    background-color: transparent;
    border: none;

    span {
      color: var(--color-green);
      text-align: right;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 20px;
      letter-spacing: -0.408px;
    }
    svg {
      width: 24px;
      height: 24px;
    }
  }
}
