.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 3px;
  padding-right: 10px;

  .flex {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__title {
    color: var(--text-color-default);
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 22px;
    letter-spacing: -0.408px;
  }

  &__date {
    color: #878787;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: -0.408px;
  }
}
.icons {
  width: 99px;
  height: 17px;

  &__item {
    width: 15px;
    height: 15px;
    fill: gray;
    fill-opacity: 0.6;

    &_active {
      fill: #cdbc1e;
    }
  }
}

.price {
  display: flex;
  gap: 10px;

  &__title {
    color: var(--text-color-default);
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 22px;
    letter-spacing: -0.408px;
  }
  &__cash {
    color: var(--text-color-default);
    text-align: right;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: -0.408px;
  }
}

.hr {
  margin: 5px 0;
  width: 98%;
  border: none;
  border-top: 0.5px solid gray;
}
