.wrapper {
  display: flex;
  gap: 20px;
  width: 250px;
  min-height: 200px;
  font-size: 14px;

  &__flex {
    display: flex;
    gap: 10px;
  }

  &__price {
    opacity: 0.8;
  }

  &__promo {
    * {
      cursor: pointer;
    }
  }

  &__hr {
    height: 0;
    border: none;
    border-top: 1px solid gray;
  }
}

@media (max-width: 880px) {
  .wrapper {
    font-size: 12px;
  }
}
@media (max-width: 680px) {
  .wrapper {
    width: 300px;
  }
}
