.wrapper {
  display: flex;
  justify-content: space-around;
  min-width: 250px;
  height: 200px;
  font-size: 14px;

  &__flex {
    display: flex;
    gap: 10px;
  }

  &__price {
    opacity: 0.8;
  }

  &__promo {
    * {
      cursor: pointer;
    }
  }

  &__hr {
    height: 0;
    border: none;
    border-top: 1px solid gray;
  }
}
