.wrapper{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}


.loader {
  width: 120px;
  height: 120px;
}
.shadow {
  filter: drop-shadow(0 0 2px #000);
}
