.form {
  display: flex;
  flex-direction: row;
  width: 600px;
  padding: 15px;
}
@media (max-width: 870px) {
  .form {
    width: 500px;
  }
}

@media (max-width: 768px) {
  .form {
    width: 400px;
  }
}

@media (max-width: 680px) {
  .form {
    width: 300px;
  }
}
