.wrapper {
  display: flex;
  align-items: center;
  border: none;
  background-color: transparent;

  &__heart {
    width: 20px;
    height: 18px;
    fill: #e0e0e0;
    cursor: pointer;

    &_active {
      fill: #c01616;
    }

    &:hover {
      opacity: 0.5;
    }

    &:active {
      opacity: 1;
      fill: #961717;
    }
  }
}
