.wrapper {
  border: none;
  background-color: transparent;
  &__heart {
    width: 20px;
    height: 18px;
    fill: #dddcdc;
    cursor: pointer;

    &_active {
      fill: #e44f4f;
    }

    &:hover {
      fill: #c4c4c4;
    }

    &:active {
      fill: #961717;
    }
  }
}
