.wrapper {
  min-width: 1000px;
  min-height: 100vh;
  padding: 0 10px 10px;
  background: var(--theme-color-default);
  overflow: auto;

  display: flex;
  flex-direction: column;
  align-items: center;

  &__container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 24px;
  }

  &__search{
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
}

@media(max-width: 1400px) {
    .wrapper{
      padding: 0 5px 5px;
      &__container{
        gap: 10px;
      }
    }
}