.form {
  display: flex;
  height: 360px;
  width: 360px;
  padding: 20px;
  flex-direction: column;
  align-items:center;
  justify-content: space-around;
  border-radius: 16px;
  background: #fff;
  box-shadow: 0px 4px 33px 0px rgba(0, 0, 0, 0.04);
}
