.wrapper {
  width: 100%;

  &__button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 4px;
    padding: 6px;
    border-radius: 5px;
    border: 1px solid #41522e;
    background: #fff;
    cursor: pointer;
  }

  &__title {
    color: #41522e;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
  }
  &__icon {
    display: flex;
  }
}
