.button {
  display: flex;
  padding: 4px 8px;
  align-items: center;
  gap: 4px;
  border-radius: 4px;
  border: 1px solid #41522e;
  background: #fff;
  cursor: pointer;

  &__title {
    color: #41522e;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: -0.408px;
  }
  &__icon {
    width: 18px;
    height: 18px;
  }
}
