.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 3px;
  padding-right: 10px;
  

  .flex {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__title {
    color: #424242;
    font-size: 17px;
    font-style: normal;
    font-weight: 300;
    line-height: 22px;
    letter-spacing: -0.408px;
  }

  &__date {
    color: #878787;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: -0.408px;
  }
}

.price{
  display: flex;
  gap: 10px;

  &__title{
    color: #878787;
    font-size: 11px;
    font-style: normal;
    font-weight: 300;
    line-height: 22px;
    letter-spacing: -0.408px;
  }
  &__cash{
    color: #424242;
    text-align: right;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: -0.408px;
  }
}

.hr {
  margin: 5px 0;
  width: 98%;
	border: none;
	border-top: .5px solid gray;
}
