.wrapper {
  display: inline-block;
  padding: 15px 30px;
  position: absolute;
  bottom: 10px;
  right: 10px;

  color: white;
  background-color: #41522e;
  animation: appear 1s ease;

  &__hidden {
    animation: hidden 1s ease;
    opacity: 0;
  }
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes hidden {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
