.wrapper {
  &__box {
    width: 450px;
    margin: 150px auto;
  }

  &__title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
  }

  &__img {
    width: 300px;
    height: 180px;
  }
}
